body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#weatherContainer {
    border: 1px solid #ccc;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

p {
    font-size: 18px;
}
